;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:cli {:target :node-script
        :main t-gebauer.replant.main/main
        :output-to "out/replant"}
  :test {:target :node-test
         :output-to "out/tests.js"
         :ns-regexp ""
         :autorun true}}}
